.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #1f2937;
  padding: 3em;
  color: #eef2f3;
  word-break: break-word;
  overflow-wrap: break-word;
}

.container p,
.container li {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1.2em;
  color: #eef2f3;
}

.container li > code,
.container p > code {
  display: inline-block;
  white-space: normal;
  overflow-x: auto;
}

pre.container code {
  white-space: pre;
}
